<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="caserne">
      <h2 data-cy="caserneDetailsHeading"><span jhiTranslate="myappApp.caserne.detail.title">Caserne</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ caserne.id }}</span>
        </dd>
        <dt><span jhiTranslate="myappApp.caserne.caserne">Caserne</span></dt>
        <dd>
          <span>{{ caserne.caserne }}</span>
        </dd>
        <dt><span jhiTranslate="myappApp.caserne.numero">Numero</span></dt>
        <dd>
          <span>{{ caserne.numero }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/caserne', caserne.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
